<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Percy">
    <meta name="keywords" content="web">

    <title>Service</title>



    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src="js/official/jquery-ui.min.js"></script>
    <link href="css/official/jquery-ui.min.css" rel="stylesheet">

    <script src="js/official/bootstrap.min.v5.1.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script type="text/javascript" src="js/official/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="css/official/bootstrap-multiselect.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js" integrity="sha256-FXzZGmaRFZngOjUKy3lWZJq/MflaMpffBbu3lPT0izE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css" integrity="sha256-jwJEU4p1YdtymLFwAjYfam5Pj5NOnylms63k7LYQ9Jk=" crossorigin="anonymous" />




    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/build/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="static/fontawesome/css/all.css" rel="stylesheet">
    <script defer src="static/fontawesome/js/fontawesome.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <style>

    </style>
</head>

<body>
    <div class="wrapper" id="whole">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="\main" style="color: gold;">防救災輔助系統
                    <span class="align-middle"></span>
                </a>
                <div class="sidebar-user">
                    <div class="d-flex justify-content-center">
                        <div class="flex-shrink-0">
                            <img src="images/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="">
                        </div>
                        <div class="flex-grow-1 ps-2">
                            <a class="sidebar-user-title " href="#" data-bs-toggle="dropdown" aria-expanded="false"> 
								黃信愷
							</a>
                            <div class="sidebar-user-subtitle">死變態</div>
                        </div>
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Common
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href=javascript:void(0); id="sysmap">
                            <i class="align-middle" data-feather="map"></i> <span class="align-middle">地圖</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href=javascript:void(0); id="syschart">
                            <i class="align-middle" data-feather="pie-chart"></i> <span class="align-middle">圖表</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href=javascript:void(0); id="sysalbum">
                            <i class="align-middle" data-feather="image"></i> <span class="align-middle">照片集</span>
                        </a>
                    </li>
                        <li class="sidebar-header">
                            Administrator
                        </li>
                        <li class="sidebar-item">
                            <a href="#ui" data-target="#ui" data-toggle="collapse" class="sidebar-link collapsed" id="setting">
                                <i class="align-middle" data-feather="settings"></i> <span class="align-middle">設定</span>
                            </a>
                            <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                                <li class="sidebar-item"><a class="sidebar-link" href=javascript:void(0); id="orgmanager">組織管理</a>
                                </li>
                                <li class="sidebar-item"><a class="sidebar-link" href=javascript:void(0); id="permanager">員工管理</a>
                                </li>
                                <li class="sidebar-item"><a class="sidebar-link" href=javascript:void(0); id="jobmanager">職位管理</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href=javascript:void(0);>
                                <i class="align-middle" data-feather="book"></i> <span class="align-middle">災情管制列表</span>
                            </a>
                        </li>



                        <li class="sidebar-item">
                            <a class="sidebar-link" href=javascript:void(0); id="sysproject">
                                <i class="align-middle" data-feather="share"></i> <span class="align-middle">發佈專案</span>
                            </a>
                        </li>
                </ul>

                <div class="sidebar-cta">
                    <div class="dropdown-menu-header" id="online-header" style="border-radius: 0.35em; border-style: unset;">
                        系統在線人數:20
                    </div>
                    <div class="sidebar-cta-content scrollbar-style" id="online-content" style="overflow:auto;margin: auto;padding: 0em;height: 0px;">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <i class="text-success" data-feather="user-check"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="text-muted small mt-1">team1-percy</div>

                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <i class="text-success" data-feather="user-check"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="text-muted small mt-1">team2-percy</div>

                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <i class="text-success" data-feather="user-check"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="text-muted small mt-1">team3-percy</div>

                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                        <i class="text-success" data-feather="user-check"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="text-muted small mt-1">team4-percy</div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex  js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <button style="margin: 5px;" class=" btn  btn-outline-secondary  d-none d-sm-inline-block" id="immediate" type="button">立 即 處 理 <i class="badge rounded-pill bg-danger" id="badge-immediate">0</i></button>
                    <button class=" btn  btn-outline-secondary  d-none d-sm-inline-block" id="continuous" type="button">持 續 管 制 <i class="badge rounded-pill bg-danger" id="badge-continuous">0</i></button>
                    <button style="margin: 5px;" class=" btn  btn-outline-secondary  d-none d-sm-inline-block" id="deregulation" type="button">解 除 管 制 <i class="badge rounded-pill bg-danger" id="badge-deregulation">0</i></button>
                    <div style="margin-left: 10px;" class="position-relative">
                        <a class="input-group-lg input-group-text d-inline-block d-sm-none" id="disastermerge" style="margin-right: 10px;background-color: white;    border: 1px solid #dc3545" data-toggle="dropdown"><i style="color:red" class="far fa-file-alt"></i></a>
                        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="disastermerge">
                            <li><a class="dropdown-item" href="#">立即處理 <i class="badge rounded-pill bg-danger" id="badge-immediate">0</i></a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#">持續管制 <i class="badge rounded-pill bg-danger" id="badge-continuous">0</i></a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#">解除管制 <i class="badge rounded-pill bg-danger"  id="badge-deregulation">0</i></a></li>
                        </ul>
                    </div>

                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <div class="position-relative">
                                <a class="m-1 btn btn-outline-info dropdown-toggle d-none d-sm-inline-block" id="funct" data-toggle="dropdown" aria-expanded="false">功能</a>
                                <a class=" input-group-text d-inline-block d-sm-none" id="funct" style="margin-right: 10px;" data-toggle="dropdown"><i class="fas fa-toolbox"></i></a>
                                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="funct">
                                    <li><a class="dropdown-item" href="#" id="disasterreport">災情通報</a></li>
                                   
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" href="#">Line發佈訊息</a></li>
                                  
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item  ">
                            <div class="position-relative">
                                <a class="m-1 btn btn-outline-dark  d-none d-sm-inline-block" id="filterdata">時間區域</a>
                                <a class="input-group-text  d-inline-block d-sm-none" id="filterdataicon"><i class="fas fa-filter"></i></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-icon js-fullscreen d-none d-lg-block" href="#" id="fullscreen">
                                <div class="position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize align-middle">
                                        <path
                                            d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3">
                                        </path>
                                    </svg>
                                </div>
                                <div id="bigsmall" style="display: none;"></div>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href=javascript:void(0); id="sysprofile"><i class="align-middle mr-1" data-feather="user"></i> Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" id="syshelp"><i class="align-middle mr-1" data-feather="help-circle"></i>Help Center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/login">Log out</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <main class="content mainformate">
                <div id="map" class="map" style="display: block; position: relative;">
                    <% include template_map %>
                </div>
                <div id="org" class="org" style="display: none;">
                    <% include template_org %>
                </div>
                <div id="chart" class="chart " style="display: none;">
                    <% include template_chart %>
                </div>
                <div id="profile" class="profile " style="display: none;">
                    <% include template_profile %>
                </div>
                <div id="album" class="album" style="display: none;">
                    <% include template_album %>
                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-left">
                            <p class="mb-0">
                                <a href="/main" class="text-muted"><strong>service</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="fixedElement">
            <div class="subfixedElement">

            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">

            </div>
        </div>
    </div>





</body>

<script src="js/official/app.js"></script>
<!-- <script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script> -->

<script type="module" src="js/main.js"></script>



</html>